.tweet-view .tweet-text {
    padding-left: 0px;
}

.tweet-view .tweet-text .body {
    height: 290;
    font-size: 12px;
}

.tweet-view .panel-body {
  height: 148px;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand.worldmood-brand {
  color: #ffffff;
  background-color: transparent;
}

.form-group {
  margin-right: 5px;
}

.streamer-status.on {
  color: green;
}

.streamer-status.off {
  color: red;
}
