.tweet-view .tweet-text {
    padding-left: 0px;
}

.tweet-view .tweet-text .body {
    height: 290;
    font-size: 12px;
}

.tweet-view .panel-body {
  height: 148px;
}

.navbar {
  border-radius: 0px;
}

.navbar-brand.worldmood-brand {
  color: #ffffff;
  background-color: transparent;
}

.form-group {
  margin-right: 5px;
}

.streamer-status.on {
  color: green;
}

.streamer-status.off {
  color: red;
}

.bar h3{
  text-align: center;
  color: white;
  line-height: 2;
}

#pie-placeholder {
  height: 293px;
}

.arc path {
  stroke: #fff;
}

.arc text {
  fill: white;
}

.realtime-graph-view {
  height: 280px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.line.positive {
  fill: #5cb85c;
}

.line.negative {
  fill: #d9534f;
}

