extends layout

block content
  div.container

  script#app-layout-placeholder(type="text/template")
    .row
      .col-md-4
        span.tweetFrameView-placeholder
      .col-md-8
        span.tweetDetails-placeholder
        span.tweetRealtimeGraph-placeholder
