doctype 5
html
  head
    title WorldMood
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', context='width=device-width, initial-scale=1.0')
    script(src='/javascripts/libs/require.js', data-main='/javascripts/init')
  body(ng-controller="RootController")
    block content
